<?xml version="1.0"?>
<Events>
  <SupportURL></SupportURL>
    <Event id="commandReceived">
        <Name>Command Received</Name>
        <ConfigUI>
			<Field id="commandCalled" type="textfield" defaultValue="">
				<Label>Command Received:</Label>
			</Field>
		  <Field id="sep622" type="separator"/>
    <Field id="space112" type="label" fontSize="small" fontColor="black">
    <Label>
        The iMsg sent to Indigo iMsg Computer - use all lowercase for box above
        Actual sent message can be mixture of both uppercase and lowercase, as
        is converted to all lowercase before checks.
        Pays to avoid extra non-number and non-letter characters if can.
    </Label>
    </Field>


        </ConfigUI>
    </Event>
</Events>

